# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.pytest_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Local data, model artefacts and generated outputs
data/synthetic/*.csv
data/exports/*.csv
data/warehouse/*.duckdb
data/warehouse/*.db
data/warehouse/*.wal
artifacts/
reports/generated/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# macOS
.DS_Store

# Power BI local artefacts
powerbi/*.pbix
powerbi/*.pbit
